@import url('./styles.css');



.menu-pages{
    background: var(--colorDark);
}




@media screen and (min-width: 1200px) and (max-width: 1440px) and (orientation:landscape){

    .menu-pages{
        background: var(--colorDark);
    }
    
    .page-title{
        color: var(--colorBackgroundDark);
        align-self: flex-start;
        text-align: start;
    
        margin-top: 36px;
        font-size: 1.5rem;
    }
    
    
    
    #product-container{
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: center;
        padding: 24px;
    
    }
    
    #product-image-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        width: 30%;
        margin-top: 24px;
    }
    
    #product-detail-container{
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        
        margin-left: 56px;
        margin-right: 12px;
    
    }
    
    #product-detail-container p{
        margin-top: 24px;
        font-size: 0.9rem;
    }
    
    #product-image-container > :nth-child(1){
        height: 320px;
        width: 320px;
    }
    
    #product-image-container > :nth-child(1) img{
        height: 100%;
        width: 100%;
        object-fit: contain;
    }


    
    #enquire-product-button{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 36px;
        align-self: flex-start;
    }
    
    #enquire-product-button img{
    display: inline-flex;
    height: 24px;
    width: 24px;
    margin-left: 6px;
    }
    
    #enquire-product-button h3{
        font-weight: 600;
        display: inline-flex;
    }
    
    #enquire-product-button:hover{
        background: whitesmoke;
        cursor: pointer;
    }


    .products-items-container{
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: flex-start;
        margin: 44px 0px;

    }

    .product-item{
        height: 100px;

    }

    .product-item > img{
        height: 100%;
        width: 100%;
        object-fit: contain;

    }
}

