@import url('./styles.css');




.menu-pages{
    background: var(--colorDark);
}

.page-title{
    color: var(--colorBackgroundDark);
    align-self: center;
    text-align: center;

    margin-top: 44px;
    font-size: 2.5rem;
}



#product-container{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;



}

#product-image-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 24px;
}

#product-detail-container{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    align-self: flex-start;

    padding: 16px;
}

#product-detail-container p{
    margin-top: 24px;
}

#product-image-container > :nth-child(1){
    height: 300px;
    width: 300px;
}

#product-image-container > :nth-child(1) img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

#product-detail-container > :nth-child(3){
    display: flex;
    flex-direction: column;

    margin-top: 24px;
}

#product-detail-container > :nth-child(3) ul{
    list-style: disc;
    margin-top: 12px;
}

#product-detail-container > :nth-child(3) ul li{
   margin-top: 4px;

   margin-top: 4px;
   margin-left: 24px;
}

#enquire-product-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 36px;
    align-self: flex-start;
}

#enquire-product-button img{
display: inline-flex;
height: 24px;
width: 24px;
margin-left: 6px;
}

#enquire-product-button h3{
    font-weight: 600;
    display: inline-flex;
}

#enquire-product-button:hover{
    background: var(--colorBackgroundDark);

}







@media screen and (min-width: 1200px) and (max-width: 1440px) and (orientation:landscape){

    .menu-pages{
        background: var(--colorDark);
    }
    
    .page-title{
        color: var(--colorBackgroundDark);
        align-self: center;
        text-align: center;
    
        margin-top: 44px;
        font-size: 3rem;
    }
    
    
    
    #product-container{
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: center;
        padding: 44px;
    
    }
    
    #product-image-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 30%;
    }
    
    #product-detail-container{
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        align-self: flex-start;
        margin-left: 56px;
        margin-right: 12px;
    
    }
    
    #product-detail-container p{
        margin-top: 24px;
    }
    
    #product-image-container > :nth-child(1){
        height: 400px;
        width: 400px;
    }
    
    #product-image-container > :nth-child(1) img{
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
    
    #product-detail-container > :nth-child(3){
        display: flex;
        flex-direction: column;
    
        margin-top: 24px;
    }
    
    #product-detail-container > :nth-child(3) ul{
        list-style: disc;
        margin-top: 12px;
    }
    
    #product-detail-container > :nth-child(3) ul li{
       margin-top: 4px;
       margin-left: 24px;
    }
    
    #enquire-product-button{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 36px;
        align-self: flex-start;
    }
    
    #enquire-product-button img{
    display: inline-flex;
    height: 24px;
    width: 24px;
    margin-left: 6px;
    }
    
    #enquire-product-button h3{
        font-weight: 600;
        display: inline-flex;
    }
    
    #enquire-product-button:hover{
        background: whitesmoke;
        cursor: pointer;
    }
    
}