@import url('./styles.css');



.menu-pages{
    background: var(--colorDark);
}




@media screen and (min-width: 1200px) and (max-width: 1440px) and (orientation:landscape){

    .menu-pages{
        background: var(--colorDark);
    }

    #teghgroup-title-products{
        font-size: 1.1rem;
        align-self: center;
        text-align: start;
        margin: 44px 24px;
        width: 100%;
        color: #020031;
        font-weight: 700;
        text-decoration: underline;
    }
    
    
    
    
    #product-container{
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: center;
        height: 50vh;
        margin-bottom: 64px;
        margin-top: 24px;


    
    }
    
    #product-image-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 40%;
        
    }
    
    #product-detail-container{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        width: 60%;
    }
    
    #product-detail-container p{
        margin-top: 24px;
        font-size: 1rem;
        line-height: 2rem;

        width: 90%;
    }
    
    #product-image-container > img{
        height: 500px;
        width: 500px;
        object-fit: contain;
    }
    

    .products-items-container{
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: flex-start;
        margin: 44px 0px;

    }

    .product-item{
        height: 100px;

    }

    .product-item > img{
        height: 100%;
        width: 100%;
        object-fit: contain;

    }
}

